<% if (theme.gitalk_shortname){ %>
    <!-- Gitalk评论插件通用代码 -->
    <div id="git"></div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
    <script>
    const gitalk = new Gitalk({
      clientID: '0bd744a1fd18c9936c9a',
      clientSecret: 'ba9e830dc3031a269bccc49df90a002da9bb25ea',
      repo: 'gaoliang.github.io',
      owner: 'gaoliang',
      admin: ['gaoliang'],
      // facebook-like distraction free mode
      distractionFreeMode: false
    })
    gitalk.render('git')
    </script>
    <!-- Gitalk代码结束 -->
<% } %>